.main-title {
    font-family: 'Josefin Slab', serif;
}

#login-box {
    margin-top: 5rem;
    padding: 3rem;
}

.login-title {
    font-family: 'Josefin Slab', serif;   
}

#login-btn {
    margin-top: 3rem;
}

/* change to hand pointer on hover */
.mood-btn {
    cursor: pointer;
}

